@tailwind base;
@tailwind components;
@tailwind utilities;

.truncated-text {
  --lines: 3;
  @apply overflow-hidden text-ellipsis leading-5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines);
}
